############################
# Gradle
############################
.gradle/
build/
out/
kout/
bin/

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr

############################
# VS Code
############################
.vscode/

############################
# Kotlin
############################
.kotlin/

############################
# OS / Logs
############################
*.log
hs_err_pid*.log

############################
# Allow source & config
############################
!src/
!test/
!gradle/
!build.gradle
!settings.gradle
!gradle.properties
!gradlew
!gradlew.bat
!ktest.ps1